body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

.WeatherInfo {
  cursor: pointer;
}
.sideBar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  min-width: 200px;
}

.sideBar h1 {
  margin: 10px 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
}

.topBar h1 {
  margin:20px;
}

.mainContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.mainContent div {
  border: 1px solid #ccc;
  padding: 10px;
}

nav {
  display: block; 
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}
Link {
  cursor: pointer;
}

.home-link 
{
  border:1px dotted white;
  background:#1d1f1d;
  width:75px;
}