html {
  background-image: url('https://www.maketecheasier.com/assets/uploads/2021/11/Featured-Image-Live-Weather-Wallpapers-Android.jpg');
  background-size: cover; 
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  place-items: center;
}

#root {
  text-align: center;
  width:100%;
  min-height:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}